body {
	font-family: 'News Cycle', sans-serif;
	text-align: center;
}

h2{
	text-transform: uppercase;
}

button {
	background-color: lightgray;
	padding: .5em;
	border-radius: 6px;
	border: none;
	text-transform: uppercase;
}
input {
	border-radius: 6px;
	padding: .5em;
}